doctype html
html(ng-app="crankcast")
  - var title = 'Index'
  include ./includes/head.jade
  
  body
    section#index(ng-controller="MainController as vm")
      article(ng-repeat="forecast in vm.forecasts")
        div
          h2 {{ vm.showTime(forecast.am.time) }}
          p {{ forecast.am.temperature | degrees }} / {{ forecast.am.precipProbability | percent }}
          h3 {{ forecast.am.summary }}

        div
          h1 {{ vm.showDate(forecast.date) }}
       
        div
          h2 {{ vm.showTime(forecast.pm.time) }}
          p {{ forecast.pm.temperature | degrees }} / {{ forecast.pm.precipProbability | percent }}
          h3 {{ forecast.pm.summary }}

    script(src="lib/angular/angular.js")
    script(src="lib/d3/d3.js")
    script(src="lib/moment/moment.js")
    script(src="scripts/app.js")
