doctype html
html(ng-app="crankcast")
  - var title = 'Index'
  include ./includes/head.jade
  
  body#index(ng-controller="MainController as vm")
    section
      article(ng-repeat="forecast in vm.forecasts" ng-class="{'today': $index == 0}")
        h1 {{ vm.showDate(forecast.date) }}

        div.time
          h2 {{ vm.showTime(forecast.am.time) }}
          p {{ forecast.am.summary }}

        div.forecast
          figure
            p {{ forecast.am.temperature | degrees }}
            figcaption {{ vm.showWind(forecast.am.windSpeed) }}

          figure
            p {{ forecast.am.precipProbability | percent }}
            figcaption chance of 
              | {{ vm.showIntensity(forecast.am.precipIntensity) }}
              | {{ forecast.am.precipType || 'precip' }}

        div.time
          h2 {{ vm.showTime(forecast.pm.time) }}
          p {{ forecast.pm.summary }}

        div.forecast
          figure
            p {{ forecast.pm.temperature | degrees }}
            figcaption {{ vm.showWind(forecast.pm.windSpeed) }}

          figure
            p {{ forecast.pm.precipProbability | percent }}
            figcaption chance of 
              | {{ vm.showIntensity(forecast.pm.precipIntensity) }}
              | {{ forecast.pm.precipType || 'precip' }}

    script(src="lib/angular/angular.js")
    script(src="lib/moment/moment.js")
    script(src="scripts/app.js")

