doctype html
html(ng-app="crankcast")
  - var title = 'Index'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
        
    section#index(ng-controller="MainController as vm")
      h1 will this work?
      h2 hi grandmas
      p {{vm.forecast.temperature}}
    
    include ./includes/footer.jade
    
    script(src="lib/angular/angular.js")
    script(src="lib/d3/d3.js")
    script(src="scripts/app.js")
