doctype html
html(ng-app="crankcast")
  - var title = 'Index'
  include ./includes/head.jade
  
  body
    section#index(ng-controller="MainController as vm")
      article
        div
          h2 8:00am
          p {{ vm.forecast.temperature | number:0 }}&deg; / {{ vm.forecast.precipProbability }}%
          h3 {{ vm.forecast.summary }}
        div
          h1 Today
        div
          h2 5:00pm
          p 70&deg; / 0%
          h3 Real Nice

    script(src="lib/angular/angular.js")
    script(src="lib/d3/d3.js")
    script(src="scripts/app.js")
