// from http://designforhackers.com/blog/font-sizes/
font-size-small = 12px
font-size-base = 21px
font-size-big = 37px
font-size-huge = 50px
font-size-biggest = 159px

// based on https://css-tricks.com/snippets/css/clear-fix/
clearfix()
  &:after
    content ""
    display table
    clear both
    
color-base =  #1bb5ec
text-color-dark = darken(color-base, 75%)
text-color-light = alpha(text-color-dark, 50%)
text-color-accent = #0ED5D5 

gutter = 16px
gutter-small = 8px
