@require 'common'

body
  padding gutter 0
  background #f1fafb

#index 
  
  color-base =  #1bb5ec
  
  article
    background color-base

    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center

    h1, h2, h3
      font-size font-size-small
      color lighten(color-base, 75%)

    p
      margin gutter 0
      font-size font-size-big

    div
      width 175px
      text-align center
      padding 8px 
      color darken(color-base, 75%)
