@require 'common'

body
  padding gutter 0
  background #f1fafb

#index 
  border-color = alpha(color-base, 25%)

  article
    clearfix()
    margin 0 auto
    width 400px

    h1
      padding 2px
      text-align center
      text-transform uppercase
      background border-color
      font-size font-size-small
    
    h2
      font-size font-size-small
      text-align right

    figure
      width 50%
      float left

      figcaption
        color text-color-light
        font-size font-size-small

    div
      float left
      width 50%
      padding gutter-small

      &.forecast
        border-left 1px solid border-color 

      &.time
        p
          text-align right
          font-size font-size-small
          color text-color-light
          text-transform lowercase

      &:last-child
        padding-bottom 32px

    &.today
      
      p
        font-size font-size-huge

      div
        padding gutter gutter-small

        &:last-child
          padding-bottom 64px
