@require 'common'

#index
  article
    background #1bb5ec

    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center

    h2, h3
      font-size font-size-small
      color #c7f6f5

    p
      margin gutter 0
      font-size font-size-big

    div
      text-align center
      padding 8px 
